{:source-paths ["src"]
 :dependencies [[lilactown/hx "0.5.3"]]
 :builds
 {:app
  {:target :react-native
   :init-fn clojure-exchange-demo-2019.entry-point/init
   :output-dir "target"
   :compiler-options {:infer-externs :auto}
   :devtools {:autoload true}}}}
